header{
    margin-left: 15%;
    margin-right: 15%;
}

#headerNav{
    display:flex;
    padding:20px;
}

#cocoLogo {
    justify-content:left;
    width:75%;
}

#cocoLogo a{
    color: #38808F;
    font-weight:300;
    font-size:3Vh;
    font-family: 'Raleway', sans-serif;
    
}
#cocoLogo a:hover{
    color:#FBE0D3;
    transition: 0.5s;
    text-decoration: none;
}

body{
    background-color:#F7F6F3;
}
.navLinks a {
    height:50px;
    display:flex;
    width:25%;
    align-self:right;
    color:#ACC3D1;
    font-size: 2vw;
}
.aboutCoco h2{
    font-family: 'Raleway', sans-serif;
    font-size:36px;
    color:#ACC3D1;
}
header a{
    color:#ACC3D1;
    padding:10px;

    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}


a:hover{
    color:#38808F;
    text-decoration: underline;
}
.aboutCoco{

    display:flex;
    align-content:center;
    background:no-repeat;
    background-position:center;
    justify-content:space-around;

}
.Courtney{
    margin-top: 15px;
    width:55%;
    padding:20px 40px;
    text-align:center;


}
.aboutMe{
    height:100%;
    width: 100%;
    display:flex;
    align-items:center;
    background:no-repeat;
    background-position:center;
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color:#666b66;
}
b{
    font-family:'Montserrrat',sans-serif;
    font-weight:100px;
}

.myWork{
    margin: 0px 15%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
    "LNFY LNFY"
    "Venture Fetch"
    "Final Final"
    "NSASITE Product"

}


.projectGridArea {
    display:flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
  }

#projectLNFY{
    grid-area: LNFY;
    background-image: url("../img/Computer\ Screen-01.png");
    position: relative;
}

#projectVenture{
    grid-area: Venture;
    background-image: url("../img/Venture_InHand-05.png");
    position: relative;
}

#projectFetch{
    grid-area: Fetch;
    background-image: url("../img/FETCH-InHand.jpg");
    position: relative;
     
}
#projectFinal{
    grid-area:Final;
    background-color:yellow;

}

#projectProductDesign{
    grid-area: Product;
    background-image: url("../img/mudpie_aprons.jpg");
    position: relative;

}
#projectNSA{
    grid-area: NSASITE;
    background-color: aqua;
}
.heading {
    background-color: rgba(255,255,255,0.85);
    height: fit-content;
    color: black;
    position: relative;
    
  }
.titlebox{
    padding-left: 10px;
    position:relative;
}

.titleBox h2{
    font-family: 'Raleway', sans-serif;
    font-size:3vh;
    color:#253746;
    padding:0;
    margin:0;
}


.titleBox p{
    font-family: 'Montserrat',sans-serif;
    font-size:2.5vh;
    margin:0;
    padding:0;

}
.projType{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color: black;
    padding-top: 2 px;

}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;


}

.footertext p {
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight:900;

}

.cocoCopyright{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:gray;
    padding-top:50px;
    
}
.socialIcons{
    height:2vh;
}
.socialIcons a{
    transition: 0.3s;
}
.socialIcons a:hover{
    opacity: 50%;
}
.projectGridArea:hover{
    opacity:50%;
}

  


#Aboutme{
    margin: 0px 15%;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-template-rows: 4em 20em 7em;
}


.aboutMeArea {
    display:grid;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    transition: 0.3s;
  }

#myPicture{
    background-color: aqua;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;

  }
#hiThere{
    display:flex;
    justify-content: center;
    align-items:start;
    background-color: none;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

  }

#hiThere h2{
    font-family: 'Raleway', sans-serif;
    color:#38808F;

}  
#aboutMeText{
    display:flex;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    flex-direction:column;
  }


#skillsTitle{
    font-family: 'Raleway', sans-serif;
    font-style:bold;
    display:grid;
    grid-template-columns: 1fr 1fr;




}
.mainBio{
    font-family: 'Montserrat',sans-serif;
    font-size: 2vh;
}


.mySkills{
    font-family: 'Montserrat',sans-serif;
    font-size: 2vh;
    color:black;
}


#Resume{
    display:flex;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    justify-content:center;
    align-items:center;
}

#Resume button{
    width:12em;
    height: 4em;
    border-color:38808F;
    background-color:rgba(255,255,255,0);
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
}
#Resume button:hover{
    background-color:rgba(0,0,0,0.15);
    text-decoration:underline;
    border-color:rgba(255,255,255,0);
}

